body {
  font-family: 'Poppins Medium', sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  font-family: inherit;
  margin: 0;
}

/* ===================Standard Style Reset====================== */

/* =====================Mobile version=========================== */

.sidebar {
  width: 100vw;
  height: 100vh;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 0.3s, visibility 0.3s;
}

.display__none {
  display: none;
}

.sidebar__title {
  padding: 36px 0 53px;
}

.sidebar__li {
  margin-bottom: 18px;
}

.sidebar__li:last-child {
  margin-bottom: 0;
}

.sidebar__btn {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  max-width: 269px;
  border-radius: 8px;
  /* border: none; */
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.cont__manager {
  text-align: center;
  margin-bottom: 10px;
}

.img__manager {
  margin: 0 auto;
}

.manager__title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #000;
}

.manager__text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.header__title {
  font-weight: 500;
  font-size: 24px;
  color: #000;
  padding: 41px 47px 51px;
}

.content {
  display: none;
}

.active {
  display: block;
}

.active__memb {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #16c098;
  margin-bottom: 40px;
}

.back__button {
  background-color: aqua;
}

@media screen and (max-width: 319px) {
  .cont__sidebar {
    word-wrap: break-word;
  }
}

/* =======================tab version============================= */

@media screen and (min-width: 768px) {

  .cont__app {
    display: flex;
  }

  .sidebar {
    width: 330px;
    height: 1000px;
  }

  .sidebar__title {
    padding: 36px 0 53px 30px;
  }

  .sidebar__list {
    padding-left: 42px;
  }

  .sidebar__btn {
    padding: 11px 9px 11px 12px;
    /* border-radius: 8px; */
    /* width: 269px; */
    /* height: 46px; */
    background-color: orange;
  }

  .cont__manager {
    margin-bottom: 20px;
  }

  .customer__info span {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #292d32;
  }

  .customer__info--status {
    margin-bottom: 20px;
  }

  .customer__params--title,
  .custom__info li {
    display: grid;
    grid-template-columns: 172px 131px 156px 207px 152px 1fr;
    margin-bottom: 20px;
  }

  .custom__info li:last-child {
    margin-bottom: 30px;
  }

  .main__wind {
    width: 968px;
    height: 812px;
    margin-left: 47px;
    padding: 30px 40px 38px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  }

  .main-wind-title {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 15px;
  }

  .back__button {
    display: none;
  }

  .customer__info span {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #292d32;
  }

  .customer__info--status {
    margin-bottom: 20px;
  }

  .customer__params--title,
  .custom_info li {
    display: grid;
    grid-template-columns: 172px 131px 156px 207px 152px 1fr;
    margin-bottom: 20px;
  }

  .custom__info li:last-child {
    margin-bottom: 30px;
  }

  .customer__params--title span {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #b5b7c0;
  }

  .customer__params--title {
    margin-bottom: 14px;
  }

  .divider {
    border: 1px solid #eee;

    width: auto;
    height: 0;
    margin-bottom: 24px;
  }

  .pagination,
  .page__buttons {
    display: flex;
    gap: 14px;
  }

  .customer__item {
    border-bottom: 1px solid #eee;
  }
}



@media screen and (min-width: 1158px) {
  .sidebar {
    height: 1198px;
  }

  .sidebar__btn {
    background-color: rgb(132, 125, 146);
  }
}

/* .cont-app {
  display: flex;
}

.sidebar {
  width: 330px;
  height: 1198px;

  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  background: #fff;
}
====================
.sidebar-title {
  padding: 36px 0 53px 30px;
}

.sidebar-list {
  padding-left: 42px;
}

.sidebar-li {
  margin-bottom: 18px;
}

.sidebar-li:last-child {
  margin-bottom: 0;
}

.sidebar-btn {
  padding: 11px 9px 11px 12px;
  border-radius: 8px;
  width: 269px;
  height: 46px;
}

.cont-view {}

.header {}

.header-title {
  font-weight: 500;
  font-size: 24px;
  color: #000;
  padding: 41px 47px 51px;
}

.main-wind {
  width: 968px;
  height: 812px;
  margin-left: 47px;
  padding: 30px 40px 38px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.main-wind-title {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 15px;
}

.active-memb {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #16c098;
  margin-bottom: 40px;
}

.customer-params-title {}

.customer-info span {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #292d32;
}

.customer-info-name {}

.customer-info-company {}

.customer-info-phoneNumder {}

.customer-info-email {}

.customer-info-country {}

.customer-info-status {
  margin-bottom: 20px;
}

.customer-params-title,
.custom-info li {
  display: grid;
  grid-template-columns: 172px 131px 156px 207px 152px 1fr;
  margin-bottom: 20px;
}

.custom-info li:last-child {
  margin-bottom: 30px;
}

.pagination {}

.pagination-text {}

.customer-params-title span {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}

.customer-params-title {
  margin-bottom: 14px;
}

.divider {
  border: 1px solid #eee;
 
  width: auto;
  height: 0;
  margin-bottom: 24px;
}

.pagination,
.page-buttons {
  display: flex;
  gap: 14px;
}

.prev-btn {}

.next-btn {}

.customer-item {
  border-bottom: 1px solid #eee;
}


.customer-name {
  /* margin-right: 57px; */
/* } */

/* .company { */
/* margin-right: 61px; */
/* padding-left: 210px; */
/* } */

/* .phone-number { */
/* margin-right: 52px; */
/* } */

/* .email { */
/* margin-right: 168px; */
/* } */

/* .country { */
/* margin-right: 96px; */
/* } */

/* .status {} */